<a href="https://colab.research.google.com/github/TheSpaceMan915/Artificial-Intelligence/blob/main/Lab4_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Лабораторная работа №4  Колычев Никита  ВПР34**

# **Задание 1**

1. Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20] (воспользуйтесь функцией linspace)
2. Определите отношение элементов полученной серии к их предыдущим элементам. 
3. В результате необходимо получить среднее полученного вектора, оставив в нём только те значения, которые не более чем 1.5.

In [ ]:
import numpy as np
import pandas as pd
import re

s = pd.Series(np.linspace(0,20,15))
print("Original series:")
print(s)
print()


# shifting the series
s_shifted = s.shift(1)

s_divided = s.divide(s_shifted)
print("Divided series:")
print(s_divided)
print()

# filtering the series
s_res = s_divided[s_divided <= 1.5]
print("Filtered series:")
print(s_res)
print()

value = s_res.mean()
print("Mean value: ", value)

Original series:
0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
dtype: float64

Divided series:
0          NaN
1          inf
2     2.000000
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64

Filtered series:
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64

Mean value:  1.181677812927813

# **Задание 2**

По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям. Для заданного ниже объекта s проделайте следующее:
*   Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12.
*   Выберите из s элементы с индексами 3 и 5, после чего просуммируйте их, сохранив результат.
*   Выберите из s только целочисленные элементы и вычислите их дисперсию. 

Все полученные результаты округлите до 2-х знаков после запятой.

In [ ]:
s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98]
              ,index=range(6, 26, 2))

# getting data from the old series and creating another series with new indexes
s_indexes = pd.Series(s.values, range(2, 12))
print("Series with new indexes:")
print(s_indexes)
print()

sum = str(s_indexes[3]) + s_indexes[5]
print("sum: ", sum)
print()

# calculating the variance
arr_data = s.values
arr_ints = [value for value in s.values if isinstance(value, int)]
print("arr_ints: ", arr_ints)
print()

variance = round(np.var(arr_ints), 2)
print("variance: ",variance )

Series with new indexes:
2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object

sum:  2hi!

arr_ints:  [2, 5, -512, 98]

variance:  57591.19

#**Задание 3** 
1. Сгенерируйте Series из 100 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3 раза. 
3. Выведите сумму элементов, строго меньших 2.6, имеющих нечётные значения индекса. 
4. Выведите количество значений серии меньше нуля.

In [ ]:
size_series = 100
arr_indexes = np.array(range(size_series))
s = pd.Series(np.random.normal(size = size_series), arr_indexes)
print("Series before:")
print(s)
print()

# changing the elements and the indexes
s_changed = s.reindex(arr_indexes * 3)
s_changed = s_changed ** 3
print("Series after:")
print(s_changed)
print()

# finding elements < 2.6 with odd indexes
s_filtered = s_changed[(s_changed < 2.6) & (s_changed.index % 2 != 0)]
print("Filtered series:")
print(s_filtered)
print()
print("Sum: ", s_filtered.sum())
print()

# finding elements < 0
s_filtered2 = s_changed[s_changed < 0]
print("Filtered series 2: ")
print(s_filtered2)
print()
print("Amount of elements less than zero: ", s_filtered2.count())

Series before:
0    -0.817644
1    -0.622151
2    -1.370121
3    -0.940862
4    -0.996987
        ...
95    0.186151
96    1.040609
97   -1.817450
98   -0.657572
99   -0.061805
Length: 100, dtype: float64

Series after:
0     -0.546629
3     -0.832871
6     -0.001249
9      0.093568
12    -0.003832
         ...
285         NaN
288         NaN
291         NaN
294         NaN
297         NaN
Length: 100, dtype: float64

Filtered series:
3    -0.832871
9     0.093568
15   -1.347232
21    0.074669
27   -3.198213
33    0.005050
39    1.066133
45   -0.012640
51    0.082688
57    0.010085
63   -0.774551
69    0.553563
75    0.000001
81   -0.988472
87    1.044907
93    0.079570
99   -0.000236
dtype: float64

Sum:  -4.143980317474121

Filtered series 2:
0    -0.546629
3    -0.832871
6    -0.001249
12   -0.003832
15   -1.347232
27   -3.198213
36   -0.000158
45   -0.012640
63   -0.774551
72   -2.008924
81   -0.988472
90   -0.708608
99   -0.000236
dtype: float64

Amount of elements less than zero:  13

# **Задание 4**
1. В tr_types выберите произвольные 100 строк с помощью метода sample (указав при этом random_seed равный 242)
2. В полученной на предыдущем этапе подвыборке найдите долю наблюдений (стобец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (\*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45

In [ ]:
# reading a csv file from the drive
path_file = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/tr_types.csv"
tr_types = pd.read_csv(path_file, sep = ";")
frame_sample = tr_types.sample(n = 100, random_state = 242)
print("Random sample:")
print(frame_sample)
print()

# getting a  series object from tr_description column
series_descriptions = frame_sample.loc[:, "tr_description"]

# finding the rows with appropriate strings
mask_booleans = series_descriptions.str.contains("плата", flags = re.IGNORECASE, regex = True)
series_filtered = series_descriptions[mask_booleans]
print("Filtered series:")
print(series_filtered)
print()

# figuring out description / description containing "плата"
frequency = round(series_filtered.size / frame_sample.size, 2)
print("Frequency: ", frequency)

Random sample:
     tr_type                                     tr_description
37      6210                    Возврат покупки.POS Зарубеж. ТУ
50      7034  Перевод на карту/ с карты через АТМ (без взима...
145     2431  Перевод с карты на счет физ.лица в другом банк...
4       4001  Плата за получение наличных в Сбербанке (в дру...
69      8000                   Поправки по счету клиен. Зачисл.
..       ...                                                ...
24      4100                Плата за получение наличных. Россия
130     2371  Списание с карты на карту по операции <перевод...
140     2421  Перевод с карты на счет физ.лица в другом тер....
6       4011  Плата за получение наличных в АТМ Сбербанка (в...
52      7040  Перевод на карту (с карты) через POS (в предел...

[100 rows x 2 columns]

Filtered series:
4     Плата за получение наличных в Сбербанке (в дру...
5           Плата за получение наличных в АТМ Сбербанка
16    Плата за перевод на карту (с карты) через POS ...
30                               Плата за превыш.лимита
82    Плата за предоставление по запросу клиента док...
81    Плата за обработку счета банковской карты клие...
23             Оплата услуг банка по поручению автомат.
7     Плата за получение наличных через POS в Сбербанке
8     Плата за получение наличных через POS в Сберба...
1     Плата за предоставление отчета по счету карты ...
15    Плата за перевод на карту (с карты) через АТМ ...
80                      Плата за приост. действия карты
10    Плата за взнос наличных через АТМ (в другом те...
0     Плата за предоставление услуг посредством моби...
2     Плата за обслуживание банковской карты (за пер...
20                         Оплата услуг банка через ВСП
14    Плата за перевод на карту (с карты) через АТМ ...
26                Плата за получение наличных. Зарубеж.
17    Плата за перевод на карту (с карты) через POS ...
9     Плата за взнос наличных через АТМ (в своем тер...
29    Плата за получение через АТМ выписки о 10 посл...
19    Плата за перевод на карту (с карты) через Моби...
18    Плата за перевод на карту (с карты) через POS ...
12    Плата за взнос наличных через POS (в другом те...
24                  Плата за получение наличных. Россия
6     Плата за получение наличных в АТМ Сбербанка (в...
Name: tr_description, dtype: object

Frequency:  0.13

# **Задание 5** 
1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Из перечисленных вариантов выберите те, которые попали в топ-5 транзакций по частоте встречаемости.

In [ ]:
# reading a csv file from the drive
path_file = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/transactions.csv"
transactions = pd.read_csv(path_file, sep = ",")

# counting every type of transaction
s_counts = transactions["tr_type"].value_counts(normalize = True)
print("Top 5 types of transaction:")
print(s_counts.head())

Top 5 types of transaction:
1010    0.232100
2010    0.151943
1030    0.141764
1110    0.135510
7070    0.101016
Name: tr_type, dtype: float64

# **Задание 6**
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту).

In [ ]:
# reading a csv file from the drive
path_file = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4 data/transactions.csv"
transactions = pd.read_csv(path_file, sep = ",", index_col = "customer_id")

# finding a client having max transaction amount
client_id = transactions["amount"].idxmax()
print("Client id: ", client_id)

Client id:  26782922

# **Задание 7**
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.

In [ ]:
# reading csv files from the drive
path_transactions = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/transactions.csv"
path_tr_mcc_codes = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/tr_mcc_codes.csv"
path_tr_types = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/tr_types.csv"
path_gender_train = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/gender_train.csv"
transactions = pd.read_csv(path_transactions, sep = ",", index_col = "customer_id")
tr_mcc_codes = pd.read_csv(path_tr_mcc_codes, sep = ";")
tr_types = pd.read_csv(path_tr_types, sep = ";")
gender_train = pd.read_csv(path_gender_train, sep = ",", index_col = "customer_id")

# merging using left join
transactions.merge(gender_train, how = "left", on = "customer_id")

# merging using inner join
transactions.merge(tr_mcc_codes, how = "inner")
transactions.merge(tr_types, how = "inner")
print("Shape: ", transactions.shape)
print()
transactions.head()

Shape:  (6849346, 5)

            tr_datetime  mcc_code  tr_type    amount term_id
customer_id
39026145     0 10:23:26      4814     1030  -2245.92     NaN
39026145     1 10:19:29      6011     7010  56147.89     NaN
39026145     1 10:20:56      4829     2330 -56147.89     NaN
39026145     1 10:39:54      5499     1010  -1392.47     NaN
39026145     2 15:33:42      5499     1010   -920.83     NaN

# **Задание 8**
Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

In [ ]:
# reading csv files from the drive
path_transactions = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/transactions.csv"
path_gender_train = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/gender_train.csv"
transactions = pd.read_csv(path_transactions, sep = ",", index_col = "customer_id")
gender_train = pd.read_csv(path_gender_train, sep = ",", index_col = "customer_id")

# merging transactions and gender_train data frames
s_merged = pd.merge(left = transactions, right = gender_train, on = "customer_id")
s_merged.head()

# getting an amount series
s_amount = s_merged.loc[:, "amount"]
print("Amount series: ")
print(s_amount)
print()

# selecting the rows containg negative amount values and not NaNs
s_mask = s_amount.where(s_amount < 0).notnull()
s_filtered = s_merged[s_mask]
print("Filtered dataframe:")
print(s_filtered)
print()

# grouping by gender (0 - men, 1 - women)
s_grouped = s_filtered.groupby("gender")["amount"].mean()
print("Grouped dataframe:")
print(s_grouped)
print()

# figuring out the difference between the mean values
value = round(abs(s_grouped[1] - s_grouped[0]), 2)
print("Value: ", value)

Amount dataframe:
customer_id
39026145     -2245.92
39026145     56147.89
39026145    -56147.89
39026145     -1392.47
39026145      -920.83
              ...
61870738     -5176.84
61870738     -1652.77
61870738     -4687.23
61870738     -4491.83
61870738    408756.67
Name: amount, Length: 3751083, dtype: float64

Filtered dataframe:
              tr_datetime  mcc_code  tr_type    amount   term_id  gender
customer_id
39026145       0 10:23:26      4814     1030  -2245.92       NaN       1
39026145       1 10:20:56      4829     2330 -56147.89       NaN       1
39026145       1 10:39:54      5499     1010  -1392.47       NaN       1
39026145       2 15:33:42      5499     1010   -920.83       NaN       1
39026145       2 15:53:49      5541     1010 -14643.37       NaN       1
...                   ...       ...      ...       ...       ...     ...
61870738     452 19:33:04      5541     1110  -4491.83  RU570124       0
61870738     453 16:03:02      5499     1010  -5176.84  10217113       0
61870738     454 10:54:60      5411     1010  -1652.77    022915       0
61870738     454 14:23:59      5499     1010  -4687.23  10217113       0
61870738     454 16:11:53      5541     1110  -4491.83  RU570124       0

[3082604 rows x 6 columns]

Grouped dataframe:
gender
0   -51856.789972
1   -76658.346437
Name: amount, dtype: float64

Value:  24801.56

# **Задание 9**

1. Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (*)
2. Оставьте только наблюдения с отрицательным значением amount.

In [ ]:
def concatenateStrings(s1, s2): return pd.DataFrame({"s1": s1, "s2": s2, "s1 + s2": s1 + s2})

# reading csv files from the drive
path_transactions = "/content/drive/MyDrive/Colab Notebooks/AI/Lab4_data/transactions.csv"
transactions = pd.read_csv(path_transactions, sep = ",", index_col = "customer_id")

# getting series objects for appropriate columns
s_codes = transactions.loc[:, "mcc_code"].astype(str)
s_types = transactions.loc[:, "tr_type"].astype(str)

# concatenating strings
df_strings = concatenateStrings(s_codes, s_types)
print("Dataframe strings: ")
print(df_strings)
print()

# getting an amount series
s_amount = transactions.loc[:, "amount"]
print("Amount series: ")
print(s_amount)
print()

# selecting the rows containg negative amount values and not NaNs
s_mask = s_amount.where(s_amount < 0).notnull()
s_filtered = transactions[s_mask]
print("Filtered dataframe:")
print(s_filtered)

Dataframe strings:
               s1    s2   s1 + s2
customer_id
39026145     4814  1030  48141030
39026145     6011  7010  60117010
39026145     4829  2330  48292330
39026145     5499  1010  54991010
39026145     5499  1010  54991010
...           ...   ...       ...
61870738     5499  1010  54991010
61870738     5411  1010  54111010
61870738     5499  1010  54991010
61870738     5541  1110  55411110
61870738     6011  7010  60117010

[6849346 rows x 3 columns]

Amount series:
customer_id
39026145     -2245.92
39026145     56147.89
39026145    -56147.89
39026145     -1392.47
39026145      -920.83
              ...
61870738     -5176.84
61870738     -1652.77
61870738     -4687.23
61870738     -4491.83
61870738    408756.67
Name: amount, Length: 6849346, dtype: float64

Filtered dataframe:
              tr_datetime  mcc_code  tr_type    amount   term_id
customer_id
39026145       0 10:23:26      4814     1030  -2245.92       NaN
39026145       1 10:20:56      4829     2330 -56147.89       NaN
39026145       1 10:39:54      5499     1010  -1392.47       NaN
39026145       2 15:33:42      5499     1010   -920.83       NaN
39026145       2 15:53:49      5541     1010 -14643.37       NaN
...                   ...       ...      ...       ...       ...
61870738     452 19:33:04      5541     1110  -4491.83  RU570124
61870738     453 16:03:02      5499     1010  -5176.84  10217113
61870738     454 10:54:60      5411     1010  -1652.77    022915
61870738     454 14:23:59      5499     1010  -4687.23  10217113
61870738     454 16:11:53      5541     1110  -4491.83  RU570124

[5541668 rows x 5 columns]